body{font-family: 'Poppins', sans-serif;
    
    }
    h1{ font-size: 50px; }
    span{
        color: lightsalmon;
    }
    .half-width {
        margin-left: 5%;
        padding-left: 2%; 
        width: 40%;
        float: left;
    }